.container{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px;
    border: 1px solid red;

}
.parent{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}
div{
    color: black;
}
